[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
django-debug-toolbar = "*"
django-extensions = "*"
black = "*"
flake8 = "*"

[packages]
django = "*"
python-decouple = "*"
dj-database-url = "*"
uwsgi = "*"
django-oauth-toolkit = "*"
django-cors-middleware = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
